* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_53 {
  width: 360px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_62 {
  width: 29px;
  height: 15px;
  background: url("../images/v9_62.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 301px;
  border: 3px solid rgba(0,0,0,1);
}
.v9_63 {
  width: 323px;
  height: 144px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 17px;
  overflow: hidden;
}
.v51_90 {
  width: 360px;
  height: 95px;
  background: rgba(109,105,105,1);
  opacity: 1;
  position: absolute;
  top: 705px;
  left: 0px;
  overflow: hidden;
}
.v11_65 {
  width: 238px;
  color: rgba(40,34,69,1);
  position: absolute;
  top: 106px;
  left: 18px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v11_84 {
  width: 296px;
  color: rgba(40,34,69,1);
  position: absolute;
  top: 175px;
  left: 31px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v306_49 {
  width: 323px;
  height: 144px;
  background: rgba(40,34,69,1);
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 18px;
  overflow: hidden;
}
.v306_50 {
  width: 296px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 345px;
  left: 32px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v306_51 {
  width: 323px;
  height: 144px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 18px;
  overflow: hidden;
}
.v306_52 {
  width: 296px;
  color: rgba(40,34,69,1);
  position: absolute;
  top: 515px;
  left: 32px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v304_11 {
  width: 102px;
  height: 46px;
  background: url("../images/v304_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
.v306_21 {
  width: 57px;
  height: 60px;
  background: url("../images/v306_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 723px;
  left: 115px;
  overflow: hidden;
}
.v306_22 {
  width: 52px;
  height: 47px;
  background: url("../images/v306_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 24px;
  overflow: hidden;
}
.v306_23 {
  width: 51px;
  height: 60px;
  background: url("../images/v306_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 723px;
  left: 201px;
  overflow: hidden;
}
.v309_32 {
  width: 51px;
  height: 51px;
  background: url("../images/v309_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 286px;
  overflow: hidden;
}
.v337_64 {
  width: 128px;
  height: 65px;
  background: url("../images/v337_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 227px;
  overflow: hidden;
}
.v337_65 {
  width: 61px;
  height: 65px;
  background: url("../images/v337_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 67px;
  overflow: hidden;
}
.v337_66 {
  width: 128px;
  height: 22px;
  background: url("../images/v337_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
